.Sun-Carousel {
	position: relative;
	min-height: 120px;
}
.Sun-Carousel-Title {
	display: block;
	width: 88%;
	margin: 0 auto !important;
	text-align: left;
	font-size: 2vw !important;
	font-weight: 400 !important;
}
.Sun-Carousel-Gallery {
	margin: 0 0 3%;
}
.Sun-Carousel-Container {
	display: block;
	width: 89%;
	margin: 0 auto;
	padding: 1% 0;
	background: #f0f0f1;
	text-align: center;
	border-radius: 6px;
}
.Sun-Carousel-Images {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 89%;
	margin: 2% auto;
}
.Sun-Carousel-IMG-Container {
	position: relative;
	width: 15%;
	margin: 2%;
}
.Sun-Carousel-IMG {
	display: block;
	width: 100%;
}
.Sun-Carousel-Add {
	width: 61%;
	margin: 0 0 0 4%;
	background: #f0f0f1;
	border: 4px solid;
	border-radius: 13px;
	cursor: pointer;
}
.Sun-Carousel-IMG-Remove {
	position: absolute;
	padding: 0 5%;
	top: 0;
	right: 0;
	background: #EFEFEF;
	font-size: 1.25vw;
	cursor: pointer;
	border: 2px solid #121212;
	border-radius: 100%;
}

.Sun-Carousel-Settings {
	display: block;
	width: 89%;
	margin: 0 auto 2%;
	padding: 0 0 2%;
	background: #f0f0f1;
	text-align: center;
	border-radius: 6px;
}
.Sun-Carousel-Setting {
	display: inline-block;
	width: 22%;
	margin: 2% 5%;
	text-align: center;
	vertical-align: top;
}
.Sun-Carousel-Settings-Title {
	padding: 0 !important;
	text-align: left;
	font-size: 2vw !important;
	font-weight: 400 !important;
}
.Sun-Carousel-Label {
	position: relative;
	display: inline-block;
	width: 80%;
	text-align: right;
	font-size: 1.75vw;
	font-weight: 300;
	vertical-align: middle;
}
.Sun-Carousel-Radio {
	display: inline-block !important;
	margin: 0 !important;
	font-size: 1.75vw;
	font-weight: 300;
	vertical-align: middle;
}
.Sun-Carousel-Future {
	position: absolute;
	top: 63%;
	right: 3%;
	font-size: 1.25vw;
	z-index: 54;
}
input[type="radio"]:disabled {
	background: #bfbfbf;
}

.Sun-Carousel-End-Title {
	display: block;
	width: 87%;
	margin: 0 auto !important;
	text-align: left;
	font-size: 2vw !important;
}
.Sun-Carousel-End-Label {
	font-size: 1.5vw;
}
.Sun-Carousel-End-Radio {
	margin: 0 5% 0 0 !important;
}
.Sun-Carousel-End-Radio:last-child {
	margin: initial !important;
}

.Sun-Carousel-Shortcode {
	display: block;
	text-align: center;
	padding: 0 0 1%;
}
.Sun-Carousel-Shortcode-Input {
	display: inline-block;
	width: 83%;
	text-align: center;
	font-size: 1.5vw;
	border: none !important;
	outline: none !important;
	vertical-align: middle !important;
}
.Sun-Carousel-Shortcode-Input:focus, .Sun-Carousel-Shortcode-Input::-moz-focus-inner {
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
}
.Sun-Carousel-Shortcode-Copy {
	display: inline-block;
	width: 5%;
	margin: 0 0 0 1%;
	background: #f0f0f1;
	border-radius: 6px;
	vertical-align: middle;
	cursor: pointer;
}
.Sun-Carousel-Notif {
	position: absolute;
	display: none;
	width: 36%;
	margin: 0 auto;
	padding: 1% 0;
	top: 50%;
	left: 0;
	right: 0;
	background: #cecece;
	color: #121212;
	text-align: center;
	font-size: 2vw;
	border-radius: 6px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}